In [1]:
# 1. Consider the sales data of two samples collected at random. Are the two samples associated with each other?
#    What test will you use for the same? Chart out the inference drawn.

In [2]:
# H0: The two samples are related with each other
# H1: The two samples are not related with each other

In [3]:
import pandas as pd
import numpy as np
sales_df = pd.read_csv("Sales_data_two_sample.csv")
sales_df

    Sales_1  Sales_2
0        32       39
1        34       27
2        29       32
3        29       32
4        22       25
5        39       35
6        38       39
7        37       35
8        38       28
9        36       22
10       30       22
11       26       26
12       22       36
13       22       30

In [4]:
# Calculating the mean and std dev of both the samples

mean_sales1 = sales_df["Sales_1"].mean()
mean_sales2 = sales_df["Sales_2"].mean()
print("Mean of first sales sample: ", mean_sales1)
print("Mean of second sales sample: ", mean_sales2)

std_sales1 = sales_df["Sales_1"].std()
std_sales2 = sales_df["Sales_2"].std()
print("Std dev of first sales sample: ", std_sales1)
print("Std dev of second sales sample: ", std_sales2)

Mean of first sales sample:  31.0
Mean of second sales sample:  30.571428571428573
Std dev of first sales sample:  6.2634470725607025
Std dev of second sales sample:  5.774137107885414

In [5]:
# Two sample t-test

from scipy.stats import ttest_ind
tstat, pval = ttest_ind(sales_df["Sales_1"], sales_df["Sales_2"])
print("p-value",pval)

if pval <0.05:
    print("we reject null hypothesis")
else:
    print("we accept null hypothesis")

p-value 0.8521525600803064
we accept null hypothesis

In [6]:
# Conclusion: p-value > significance level; H0 accepted
# The sales samples were taken from the same population

In [7]:
# 2. You have some data recorded concerned with plant growth. Conduct a suitable testing to determine whether any difference
#    exists between the different groups' impact on the growth.

In [9]:
plant_df = pd.read_csv("PlantGrowth.csv")
plant_df.head()

   Unnamed: 0  weight group
0           1    4.17  ctrl
1           2    5.58  ctrl
2           3    5.18  ctrl
3           4    6.11  ctrl
4           5    4.50  ctrl

In [10]:
df_anova = plant_df[['weight','group']]

# Analyzing mean weight across various groups
df_anova.groupby('group').agg({'weight':np.mean})

       weight
group
ctrl    5.032
trt1    4.661
trt2    5.526

In [11]:
import scipy.stats as stats
stats.f_oneway(df_anova['weight'][df_anova['group']=='ctrl'],
                      df_anova['weight'][df_anova['group']=='trt1'],
                      df_anova['weight'][df_anova['group']=='trt2'])

F_onewayResult(statistic=4.846087862380136, pvalue=0.0159099583256229)

In [12]:
# Conclusion: p-value < 0.05; H0 rejected
# There is a statistically significant difference between the groups and their effects on the plant growth