In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [9]:
# 1. Define a function for computing median without using any python library, and use the same to locate the median of the 
# following data: [2,0,1,2,5,6]

def median(x,n):
    #sorting the list in ascending order
    x.sort()                                              
    #for even no. of items in the list, we take avg of middle two elements
    if n % 2 == 0:
        median1 = x[n//2]
        median2 = x[n//2 - 1]                               
        median = (median1 + median2)/2                    
    #for odd no. of items, we get the middle element 
    else:                            
        median = x[n//2] 
    return median

ls = [2,0,1,2,5,6]
median = median(ls,len(ls))
print(median)

2.0

In [2]:
# 2. Read the car_data and calculate the measures of central tendency for the price column

df = pd.read_excel("Car_data.xlsx")
df

  Company    Model Rating   Type  Price
0    Ford  Mustang      A  Coupe  27000
1   Chevy   Camaro      B  Coupe  17450
2    Ford   Fiesta      C  Sedan  13789
3  Toyota    Camry      B  Sedan  16980
4    Ford   Taurus      B  Sedan   9830

In [3]:
mean = df['Price'].mean()
print("Average price: ", mean)

median = df['Price'].median()
print("Median price: ", median)

mode = df['Price'].mode()
print("Mode: ", mode)

Average price:  17009.8
Median price:  16980.0
Mode:  0     9830
1    13789
2    16980
3    17450
4    27000
dtype: int64

In [4]:
# 3. Read the Sales_data and compute the variance and standard deviation. Also, determine the least consistent sales person.

sales_df = pd.read_excel("Sales_data.xlsx")
sales_df

  Deal     SP1     SP2     SP3
0   D1  145000  105000   65000
1   D2   25000  110000   45000
2   D3  300000  125000   70000
3   D4   43000  110000  150000
4   D5   55000  118000  238000

In [5]:
sales_df.drop('Deal',axis=1).sum()

SP1    568000
SP2    568000
SP3    568000
dtype: int64

In [6]:
sales_df.drop('Deal',axis=1).std()

SP1    114016.665449
SP2      7893.034904
SP3     80263.939599
dtype: float64

In [7]:
sales_df.drop('Deal',axis=1).mean()

SP1    113600.0
SP2    113600.0
SP3    113600.0
dtype: float64

In [8]:
# SP1 is the least consistent with his sales

In [10]:
# 4. Determine the probability of choosing a car with rating 'A' from the Car_data

a = df[df['Rating']=='A']
a

  Company    Model Rating   Type  Price
0    Ford  Mustang      A  Coupe  27000

In [11]:
a.groupby('Rating').size()/len(df)

Rating
A    0.2
dtype: float64

In [15]:
# 5. In a manufacturing unit, the process has a defect rate of 7%. As part of the quality control process, you
# randomly evaluate products in lots of 15. What is the probability of drawing more than 4 defective items from a random sample?

from scipy.stats import binom
n = 15                                     #no. of items in each lot
p = 0.07                                   #defect rate
r = 4                                      #no. of defects drawn
dist = 1- binom.cdf(r,n,p)
print("Probability of drawing more than 4 defects: ", round(dist,3))

Probability of drawing more than 4 defects:  0.003

In [16]:
### end of notebook